---
layout: default
title: Home
---

<article class="post">

  This page was last updated at <time datetime="2021-10-14T00:00:00+00:00" class="post-date" style="display: inline">14 October 2021</time>

  <p>Dish is a developer-focused tool, has an all engineer team, and has one single fundamental goal: to make software development magical, one tool at a time. We know how important open source software is - it is a great way to get feedback and help from others, provides transparency, and enables infinite customisation opportunities.</p>

<hr />

<p>This page is a collection of open source projects that we have worked on - whether they are at the core of our work, an internal tool to speed up development, or a weekend side project. Feel free to contribute to any of these projects!</p>

<p>Got questions? <a href="mailto:team@dishhq.xyz">Contact us</a></p>

<p>Want to know what Dish is? <a href="https://dishhq.xyz">Check us out!</a></p>

<p>Need to check out our docs? <a href="https://docs.dishhq.zyx">Explore the magic!</a></p>

</article>

{% assign postsByYearMonth = site.posts | group_by_exp: "post", "post.date | date: '%B %Y'" %}
{% for yearMonth in postsByYearMonth %}
  <h2>{{ yearMonth.name }}</h2>
  <ul>
    {% for post in yearMonth.items %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}